main {
  -webkit-overflow-scrolling: touch; /* Para un desplazamiento suave en dispositivos táctiles */
  overflow-y: scroll; /* Permite el scroll vertical */
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
  display: none; /* Oculta la barra de scroll en WebKit */
}

.tech__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%; /* Ocupar todo el ancho disponible */
  height: 140px; /* Ajusta según tus necesidades */
  background: #a0a4ab37;
  margin-top: 120px;
}

.tech__wrapper__div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  white-space: nowrap; /* Mantener todo en línea */
  animation: scroll-left 20s linear infinite; /* Ajusta duración para fluidez */
}

.marquee_marquee_item__zgJ8c {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: relative;
  height: 140px;
}

.marquee_marquee_repeater__OjBTa {
  flex-shrink: 0;
}

.about-partners_logos_list__cKcCq {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 60px;
}

.about-partners_logo_list_item__HqkHi {
  width: 328px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%); /* Inicia desde fuera de la pantalla */
  }
  100% {
    transform: translateX(-130%); /* Mueve fuera del viewport */
  }
}

.contact__form__section {
  position: fixed;
  top: 0;
  right: -100%; /* Comienza fuera de la vista */
  width: 100%; /* Ocupa media pantalla */
  height: 100vh; /* Ocupa toda la altura */
  transition: transform 0.5s ease-in-out; /* Transición suave para el deslizamiento */
  z-index: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact__form__section.open {
  transform: translateX(-100%); /* Desliza el formulario hacia la vista */
}

.contact__cristal__div {
  width: 50vw; /* Ocupa la otra mitad de la pantalla */
  height: 100vh; /* Ocupa toda la altura */
  backdrop-filter: blur(10px); /* Efecto acristalado */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
  background: rgba(255, 255, 255, 0.3); /* Fondo semi-transparente */
  transition: opacity 0.5s ease-in-out; /* Para transición suave */
}

.contact__main__div {
  background: #fff;
  width: 50vw;
  height: 100vh;
}

.contact__close__button {
  width: fit-content;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 40px;
  margin-top: 30px;
}

.contact__main__div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: auto;
  padding: 20px;
  padding-top: 0px;
  gap: 35px;
}

.contact__main__title {
  font-size: 38px;
  color: #0E0E2C;
  text-align: start;
  font-weight: 700;
  margin-top: -40px;
  line-height: 140%;
}

.contact__form__div {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 40px;
}

.name__field {
  padding: 11px 10px;
  border-radius: 5px;
  background: #24242410;
  color: #ffffffe2;
  font-size: 14px;
  border: 1px #00000034 solid;
  width: 100%;
  color: #000;
}

.name__field::placeholder {
  color: #000000d1;
}

.name__fields__div {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 15px;
}

.name__field:focus {
  outline: none;
}


.message__field {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 100%; /* Cambiado a 100% para ocupar todo el ancho disponible */
  height: 150px;
  padding: 11px 10px;
  border-radius: 5px;
  background: #00000010;
  font-size: 14px;
  border: 1px #00000034 solid;
  color: #000;
}


.message__field::placeholder {
  color: #000000cb;
}


.message__field:focus {
  outline: none;
}

.error__message {
  font-size: 14px;
  color: #0E0E2C
}

.privacy__rights {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.privacy__rights__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.privacy__rights__span {
  color: #000000;
  font-size: 15px;
}

.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #5e5e5e;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #1F3C88;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #3a3a3a;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #0E0E2C;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #03200b11;
  border-color: #0E0E2C;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

.contact__crown {
  display: none;
}

.contact__crown__1 {
  display: none;
}

.bg__shapes__small__devices {
  display: none;
}

.button__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #3B71FE;
  color: #fff;
  border-radius: 50px;
  padding: 10px 18px;
  margin: auto;
  margin-top: 10px;
}

.send__span {
  font-weight: 600;
  font-size: 15px;
}

.contact__bottom__div {
  background: #efefef;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 10px 30px 0px 50px;
  border-radius: 10px;
  padding: 25px;
}

.contact__bottom__text__div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}

.contact__bottom__title {
  font-size: 38px;
  color: #0E0E2C;
  font-weight: 700;
}

.contact__bottom__description {
  max-width: 420px;
  font-size: 15px;
}

.contact__planner__button {
  background: linear-gradient(
    to right, /* Gradiente de arriba hacia abajo */
    #1F3C88, /* Rojo */
    #3B71FE, /* Amarillo */
    #378CE7 /* Azul */
  );
  border-radius: 50px;
  padding: 10px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.tooltip-container {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 16px;
  display: grid;
  place-items: center;
}

.tooltip {
  position: absolute;
  top: -90%;
  padding: 0.4em 1em;
  opacity: 1;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  background: #ffffff;
  border-radius: 4px;
  color: #333333;
  font-size: 13px;
  scale: 1;
  transform-origin: 0 0;
  text-transform: capitalize;
  font-weight: 400;
  margin: auto;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
  border: 1px solid #333333bc;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  text-wrap: nowrap;
  z-index: 10;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  left: 50%;
  bottom: -0.35em;
  transform: translate(-50%) rotate(45deg);
  background: #ffffff;
  border: 1px solid #333333bc;
  border-top: 0px;
  border-left: 0px;
  z-index: 10;
}

.tooltip__message {
  position: absolute;
  top: -26%;
  padding: 0.4em 1em;
  opacity: 1;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  background: #ffffff;
  border-radius: 4px;
  color: #333333;
  font-size: 13px;
  scale: 1;
  transform-origin: 0 0;
  text-transform: capitalize;
  font-weight: 400;
  margin: auto;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
  border: 1px solid #333333bc;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  text-wrap: nowrap;
}

.tooltip__message::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  left: 50%;
  bottom: -0.35em;
  transform: translate(-50%) rotate(45deg);
  background: #ffffff;
  border: 1px solid #333333bc;
  border-top: 0px;
  border-left: 0px;
}